[Unit]
Description=PopGas Vending Machine UI
After=network.taraget graphical.target

[Service]
User=estacaogas24horas
Environment=DISPLAY=:0
Environment=VENDING_MACHINE_ID=39
WorkingDirectory=/home/estacaogas24horas/PopGas/vending-machine-ui
ExecStart=/home/estacaogas24horas/PopGas/vending-machine-ui/boot.sh
Restart=always

[Install]
WantedBy=multi-user.target